<!DOCTYPE html>
{% extends "about.html" %}
{% load staticfiles %}


{% block body_block %}

<div id="contact" class="paddsection">
  <div class="container">
    <div class="contact-block1">
      <div class="row">

        <div class="col-lg-6">
          <div class="contact-contact">

            <h2 class="mb-30">GET IN TOUCH</h2>

            <ul class="contact-details">
              <li><span>6103 Meadow Rd</span></li>
              <li><span>New Jersey, United States</span></li>
              <li><span>+1 - 3132412752n</span></li>
              <li><span>jai.taralkar@gmail.com</span></li>
            </ul>

          </div>
        </div>
        </div>
        </div>
        </div>
        </div>

        {% endblock %}
